
//-
  _________________________________________________________________
  Page jade correspondant à l'affichage à la page principale
  qui regroupe plusieurs boutons pour pouvoir accéder aux différentes
  pages des quotas

  # Auteur : Lauryne GAULTIER
  _________________________________________________________________
    
doctype html
html
  head
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    title KAZ Quotas ADMIN
    meta(charset='UTF-8')
  body
    #entete
      h1(onclick="window.location.href = 'https://kaz.bzh/'") LE NUMERIQUE ETHIQUE ET LOCAL
      p  Ci-dessous se trouve les différente catégorie de quotas 
      p  Vous Vous trouvez dans la partie ADMINISTRATEUR du service
    #main
      #menu
        img(id="object-position-1" src='/images/quotas.png' width='100%')
      #contenu
        br
        br
        button(onclick="window.location.href = '/admin/serviceg';") Service Global
        br
        button(onclick="window.location.href = '/admin/users';") Individuels
        br
        button(onclick="window.location.href = '/admin/groupes';") Groupes
        br
        br
        button(onclick="window.location.href = '/';") Menu Kaznaute
        br
    #footer
      p  Site réalisé par les étudiants du département informatique sous la direction de F. Merciol & N. Le Sommer et G. Kerbellec durant l'année 2021-2022 
