doctype html
//-
  _________________________________________________________________
  Page jade correspondant à l'affichage des quatas d'un utilisateur
  la page comporte un champs de texte ou l'on peut entrer l'email
  d'un utilisateur pour regarder le quotas qu'il utilise

  Auteur : Lauryne GAULTIER
  _________________________________________________________________
 
html
  head
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    title KAZ Quotas Individuels
    meta(charset='UTF-8')
  body
    #entete
      h1(onclick="window.location.href = 'https://kaz.bzh/'")  Tableau de bord Quotas Individuels
      p  rechercher l'email d'un utilisateur pour savoir combien de place il utilise en total dans chaque service
    #main
      #menu
        img(src='/images/individuel.png' width='100%')
      #contenu
        p  L'utilisateur saisie précedamment n'est pas correct ou le nombre de jours n'est pas correcte
        form(action='/users' method='POST')
          label(for='email') Email:
          br
          input#email.textbox(type='email' name='email' required='')
          br
          label(for='nombreJ') Nombre de Jours à afficher :
          br
          input#champ.textbox(type='number' name='nombreJ' required='' placeholder="1")
          br
          p le nombre de jours doivent être entre 1 et 30
          br
          input.myButton(id="valide" type='submit' value='Valider')
    #footer
      button(onclick="window.location.href = '/';") Retour
      br
      p  Site réalisé par les étudiants du département informatique sous la direction de F. Merciol & N. Le Sommer et G. Kerbellec durant l'année 2021-2022 
